<a href="https://colab.research.google.com/github/raghunathan-unisys/ML_Automation_Training/blob/Training-Notes/Day_1_ML_Question_TitanicDataframe_20231219.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Questions 1
1. What is the average age of the Titanic passengers?
2. What is the median age and ticket fare price of the Titanic passengers?
3. What is the average age for male versus female Titanic passengers?
4. What is the mean ticket fare price for each of the sex and cabin class
combinations?
5. What is the number of passengers in each of the cabin classes?

In [6]:
# Importing the Titanic Dataset

import numpy as np

import seaborn as sns
print(sns.get_dataset_names())

data = sns.load_dataset("titanic")
data.head()

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'dowjones', 'exercise', 'flights', 'fmri', 'geyser', 'glue', 'healthexp', 'iris', 'mpg', 'penguins', 'planets', 'seaice', 'taxis', 'tips', 'titanic']

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [8]:
# 1. Average age of Titanic Passengers
avg_age = np.mean(data['age'])

print(f"Average age of Passengers: {avg_age}")

Average age of Passengers: 29.69911764705882

In [11]:
# 2. What is the median age and ticket fare price of the Titanic passengers?

median_age = np.median(data['age'])
print(f"Median age: {median_age}")

median_fare = np.median(data['fare'])
print(f"Median fare: {median_fare}")

Median age: nan
Median fare: 14.4542

In [12]:
# 3. What is the average age for male versus female Titanic passengers?

age_male = data['age'][data['sex'] == 'male']
age_female = data['age'][data['sex'] == 'female']

avg_age_male = np.mean(age_male)
avg_age_female = np.mean(age_female)

print(f"Average age of Male passengers: {avg_age_male}")
print(f"Average age of Female passengers: {avg_age_female}")

Average age of Male passengers: 30.72664459161148
Average age of Female passengers: 27.915708812260537

In [14]:
# 4. What is the mean ticket fare price for each of the sex and cabin class
# combinations?

mean_fare_sex_cabin = data.groupby(['sex', 'class'])['fare'].mean()
print(mean_fare_sex_cabin)

sex     class
female  First     106.125798
        Second     21.970121
        Third      16.118810
male    First      67.226127
        Second     19.741782
        Third      12.661633
Name: fare, dtype: float64

In [15]:
# 5. What is the number of passengers in each of the cabin classes?

print(data['class'].value_counts())

Third     491
First     216
Second    184
Name: class, dtype: int64